:root,
html[data-theme="light"] {
  --background:linear-gradient(90deg,
    #908FF2 0%,
    #A2A1F2 46%,
    #D4D3FE 100%);
}

$main-gradient: linear-gradient(90deg, #908FF2 0%, #A2A1F2 46%, #D4D3FE 100%);
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #292929;
