/* Inter Regular - 400 */

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Inter-Regular.otf") format("opentype");
}

/* Inter Medium - 500 */

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Inter-Medium.otf") format("opentype");
}

/* Inter SemiBold - 600 */

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Inter-SemiBold.otf") format("opentype");
}

/* Inter Bold - 700 */

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Inter-Bold.otf") format("opentype");
}
