@use '@styles/utils' as u;
@import "tailwindcss";

.container {
  max-width: 1670px;
  padding-top: 100px;
  display: flex;
  width: 100%;
  background-color: u.$main-gradient;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.title {
  font-weight: bold;
  color: #3C3C3C;
  padding: 15px 0;
}

.description {
  max-width: 950px;
  font-size: 20px;
  font-weight: 400;
  color: #3C3C3C;
  padding: 20px 0;
}

.categories {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.categories button {
  border: none;
  background: none;
  font-size: 16px;
  padding-bottom: 8px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.categories button.active {
  border-bottom: 2px solid black;
  font-weight: 600;
}

.slider {
  display: flex;
  gap: 24px;
  overflow-x: auto;
}

.card {
  min-width: 300px;
  background: white;
  padding: 16px;
  border-radius: 12px;
}

/* global.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

