@use 'styles/utils' as u;

* {
  font-family: Inter, sans-serif !important;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: white;
  width: 100%;
}

